body {
  margin: 0;
  background-color: #f3f3f3;
  overflow-x: hidden;
}

.title {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: center;
}

.battleship-grid-computer,
.battleship-grid-user {
  width: 400px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  background-color: blue;
  margin: 20px;
}

.cell {
  border: red;
  border-style: solid;
}

.grid div {
  width: 40px;
  height: 40px;
}

.ship-container,
.hidden-info,
.hidden-info2 {
  display: flex;
  justify-content: center;
}

.hidden-info2 {
  gap: 60px;
}

.grid-display {
  width: 400px;
  height: 400px;
  margin: 20px;
  background-color: yellow;
}

.destroyer-container {
  width: 80px;
  height: 40px;
  background-color: orange;
  margin: 10px;
  display: flex;
}
.destroyer-container-vertical {
  width: 40px;
  height: 80px;
  background-color: orange;
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
}

.submarine-container {
  width: 120px;
  height: 40px;
  background-color: pink;
  margin: 10px;
  display: flex;
}

.submarine-container-vertical {
  width: 40px;
  height: 120px;
  background-color: pink;
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
}

.cruiser-container {
  width: 120px;
  height: 40px;
  background-color: purple;
  margin: 10px;
  display: flex;
}

.cruiser-container-vertical {
  width: 40px;
  height: 120px;
  background-color: purple;
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
}

.battleship-container {
  width: 160px;
  height: 40px;
  background-color: aqua;
  margin: 10px;
  display: flex;
}

.battleship-container-vertical {
  width: 40px;
  height: 160px;
  background-color: aqua;
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
}

.carrier-container {
  width: 200px;
  height: 40px;
  background-color: green;
  margin: 10px;
  display: flex;
}

.carrier-container-vertical {
  width: 40px;
  height: 200px;
  background-color: green;
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
}

.ship div {
  width: 40px;
  height: 40px;
}

.destroyer {
  background-color: orange;
}

.submarine {
  background-color: pink;
}

.cruiser {
  background-color: purple;
}

.battleship {
  background-color: aqua;
}

.carrier {
  background-color: green;
}

.boom {
  background-color: red;
}

.miss {
  background-color: black;
}

.connected,
.ready {
  font-weight: normal;
}

.connected span,
.ready span {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background: red;
}

span.green {
  background: green;
}
