body {
  margin: 0;
  background-color: #f3f3f3;
  overflow-x: hidden;
}

.title {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: center;
  width: 100%;
}

#start, #rotate {
  font-size: 20px;
  font-weight: 400;
  background-color: hsla(130, 92%, 42%, 0.907);
  padding: 8px;
  cursor: pointer;
  border:1px solid black;
  border-radius: 5px;
  color: black;
}

.battleship-user, .battleship-computer {
  width: 400px;
  height: 400px;
  margin: 2vmin;
  display: grid;
  background-color: rgb(5, 106, 247);
  grid-template-rows: repeat(10, 5.44vmin);
  grid-template-columns: repeat(10, 5.44vmin);
}

.square {
 border: 1px solid rgba(235, 217, 144, 0.683);
} 

.ship-container,
.hidden-info,
.hidden-info2 {
  display: flex;
  justify-content: center;
}

.hidden-info2 {
  gap: 60px;
}

.grid-display {
  display: flex;
  margin-top: 10px;
  
}

.destroyer-container {
  width: 80px;
  height: 40px;
  background-color: rgb(255, 221, 0);
  margin: 10px;
  display: flex;
}
.destroyer-container-vertical {
  width: 40px;
  height: 80px;
  background-color: rgb(255, 221, 0);
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
}

.submarine-container {
  width: 120px;
  height: 40px;
  background-color: rgb(255, 221, 0);
  margin: 10px;
  display: flex;
}

.submarine-container-vertical {
  width: 40px;
  height: 120px;
  background-color: rgb(255, 221, 0);
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
}

.cruiser-container {
  width: 120px;
  height: 40px;
  background-color: rgb(255, 221, 0);
  margin: 10px;
  display: flex;
}

.cruiser-container-vertical {
  width: 40px;
  height: 120px;
  background-color: rgb(255, 221, 0);
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
}

.battleship-container {
  width: 160px;
  height: 40px;
  background-color: rgb(255, 221, 0);
  margin: 10px;
  display: flex;
}

.battleship-container-vertical {
  width: 40px;
  height: 160px;
  background-color: rgb(255, 221, 0);
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
}

.carrier-container {
  width: 200px;
  height: 40px;
  background-color: rgb(255, 221, 0);
  margin: 10px;
  display: flex;
}

.carrier-container-vertical {
  width: 40px;
  height: 200px;
  background-color: rgb(255, 221, 0);
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
}

.destroyer {
  background-color: rgb(255, 221, 0);
}

.submarine {
  background-color: rgb(255, 221, 0);
}

.cruiser {
  background-color: rgb(255, 221, 0);
}

.battleship {
  background-color: rgb(255, 221, 0);
}

.carrier {
  background-color: rgb(255, 221, 0);
}

.boom {
  background-color: red;
}

.miss {
  background-color: black;
}
